<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Boss Sanctuary</title>-->
<!--    &lt;!&ndash; GOOGLE FONT &ndash;&gt;-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">-->
<!--    &lt;!&ndash; BOXICONS &ndash;&gt;-->
<!--    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>-->
<!--    &lt;!&ndash; APP CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{/css/grid.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/app.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/create.css}">-->
<!--    <script src="https://kit.fontawesome.com/3edce6b09c.js" crossorigin="anonymous"></script>-->

<!--</head>-->

<!--<body>-->

<!--&lt;!&ndash; SIDEBAR &ndash;&gt;-->
<!--<div class="sidebar">-->
<!--    <div class="sidebar-logo">-->
<!--        &lt;!&ndash; <img src="./images/logo-lg.png" alt="Comapny logo"> &ndash;&gt;-->
<!--        <div class="sidebar-close" id="sidebar-close">-->
<!--            <i class='bx bx-left-arrow-alt'></i>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="sidebar-user">-->
<!--        <div class="sidebar-user-info">-->
<!--            &lt;!&ndash; <img src="./images/user-image.jpg" alt="User picture" class="profile-image"> &ndash;&gt;-->
<!--            <div class="sidebar-user-name">-->
<!--                Admin-->
<!--            </div>-->
<!--        </div>-->
<!--        <button class="btn btn-outline">-->
<!--            <a th:href="@{/perform_logout}">-->
<!--                <i class='bx bx-log-out bx-flip-horizontal'></i>-->
<!--            </a>-->
<!--        </button>-->
<!--    </div>-->
<!--    &lt;!&ndash; SIDEBAR MENU &ndash;&gt;-->
<!--    <ul class="sidebar-menu">-->
<!--        <li>-->
<!--            <a th:href="@{/admin}" class="active">-->
<!--                <i class='bx bx-home'></i>-->
<!--                <span>dashboard</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class='bx bx-shopping-bag'></i>-->
<!--                <span>sales</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{/admin/importGood}">-->
<!--                &lt;!&ndash;            <a th:href="@{/admin/importGood/add}">&ndash;&gt;-->
<!--                <i class='bx bx-shopping-bag'></i>-->
<!--                <span>Import Goods</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{/admin/orders}">-->
<!--                <i class='bx bx-chart'></i>-->
<!--                <span>order history</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-user-circle'></i>-->
<!--                <span>Category</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/category}">-->
<!--                        Categories-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/category/add}">-->
<!--                        Add Category-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li>-->
<!--                    <a th:href="@{/admin/category/restore}">-->
<!--                        Restores Category-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-user-circle'></i>-->
<!--                <span>User</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/staff}">-->
<!--                        Users-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/staff/add}">-->
<!--                        Add User-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/staff/restore}">-->
<!--                        Restores User-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-category'></i>-->
<!--                <span>Item</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/item}">-->
<!--                        Items-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/item/add}">-->
<!--                        Add Item-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/item/restore}">-->
<!--                        Restore Item-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-category'></i>-->
<!--                <span>Product</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/product}">-->
<!--                        Products-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/product/add}">-->
<!--                        Add Product-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/product/restore}">-->
<!--                        Restore Product-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-category'></i>-->
<!--                <span>Voucher</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/voucher}">-->
<!--                        Vouchers-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/voucher/add}">-->
<!--                        Add Voucher-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-category'></i>-->
<!--                <span>e-commerce</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a href="#">-->
<!--                        list products-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/product/create}">-->
<!--                        add product-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a th:href="@{/admin/product/restore}">-->
<!--                        restore <products></products>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{/admin/customer}">-->
<!--                <i class='bx bx-mail-send'></i>-->
<!--                <span>customer</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{/admin/review}">-->
<!--                <i class='bx bx-mail-send'></i>-->
<!--                <span>Review</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a th:href="@{/admin/inventory}">-->
<!--                <i class='bx bx-mail-send'></i>-->
<!--                <span>Inventory</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class='bx bx-chat'></i>-->
<!--                <span>chat</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#">-->
<!--                <i class='bx bx-calendar'></i>-->
<!--                <span>calendar</span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="sidebar-submenu">-->
<!--            <a href="#" class="sidebar-menu-dropdown">-->
<!--                <i class='bx bx-cog'></i>-->
<!--                <span>settings</span>-->
<!--                <div class="dropdown-icon"></div>-->
<!--            </a>-->
<!--            <ul class="sidebar-menu sidebar-menu-dropdown-content">-->
<!--                <li>-->
<!--                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">-->
<!--                        darkmode-->
<!--                        <span class="darkmode-switch"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--    </ul>-->
<!--    &lt;!&ndash; END SIDEBAR MENU &ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash; END SIDEBAR &ndash;&gt;-->

<!--&lt;!&ndash; MAIN CONTENT &ndash;&gt;-->
<!--<div class="main">-->
<!--    <div class="main-header">-->
<!--        <div class="mobile-toggle" id="mobile-toggle">-->
<!--            <i class='bx bx-menu-alt-right'></i>-->
<!--        </div>-->
<!--        <div class="main-title">-->
<!--            dashboard-->
<!--        </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; ORDERS TABLE &ndash;&gt;-->
<!--    <div class="box">-->
<!--        <div class="box-body overflow-scroll">-->
<!--            <div class="box-header">-->
<!--                Edit Product-->
<!--            </div>-->
<!--            <div class="box-body overflow-scroll">-->
<!--                <form th:action="@{/admin/product/edit}" th:method="post" th:object="${product}">-->
<!--                    <table>-->
<!--                        <input type="hidden" th:field="*{id}">-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Name:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="text" th:field="*{name}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Original price:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="text" th:field="*{original_price}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Discount:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="text" th:field="*{discount}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Image 1:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="file" th:field="*{image1}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Image 2:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="file" th:field="*{image2}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Image 3:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="file" th:field="*{image3}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Image 4:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="file" th:field="*{image4}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Image 5:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="file" th:field="*{image5}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <th>-->
<!--                                <label>Detail:</label>-->
<!--                            </th>-->
<!--                            <td>-->
<!--                                <input type="text" th:field="*{details}">-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                    <button type="submit">Update</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; END ORDERS TABLE &ndash;&gt;-->

<!--    &lt;!&ndash; END MAIN CONTENT &ndash;&gt;-->

<!--    <div class="overlay"></div>-->

<!--    &lt;!&ndash; SCRIPT &ndash;&gt;-->
<!--    &lt;!&ndash; APEX CHART &ndash;&gt;-->
<!--    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>-->
<!--    &lt;!&ndash; APP JS &ndash;&gt;-->
<!--    <script th:src="@{/js/app.js}"></script>-->
<!--</div>-->
<!--</body>-->

<!--</html>-->