<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!--Start : Header    -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/customers}">Systems Managements Customer</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">Home</a>
            </li>
        </ul>
    </div>
</nav>
<!--End : Header    -->
<div class="container">
    <div class="row">
        <h1> List Customer </h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/customers/new}" class="btn btn-primary btn-sm mb-3"> ADD Customer</a>
        </div>
    </div>
    <div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Avatar</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "customer : ${customers}" th:if="${customer.deleted == false}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.full_name}"></td>
            <td th:text="${customer.address}"></td>
            <td> <img th:src="@{'/images/' + ${customer.avatar}}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phone}"></td>
            <td><a th:href="@{'/staff/customer/' + ${customer.id}}">Detail</a></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>